In [1]:
from pymongo import MongoClient

import pandas as pd
import numpy as np

In [33]:
database  = MongoClient()["scraper2"]
movements = database["container_movements"]
statuses  = database["statuses"]

In [43]:
select = {
    "_id": 0,
    "container": 1,
    "date": 1,
    "location": 1,
    "latitude": 1,
    "longitude": 1,
    "status": 1,
    "estimated": 1,
    "transport_type": 1
}

## Maersk

In [44]:
maersk_query = {
    "container": "MRKU5264777"
}

maersk = []
cursor = movements.find(maersk_query, select).sort("date", 1)

for movement in cursor:
    # Vehicle type as number
    movement["vehicle"] = 1 if movement["transport_type"] == "Vessel" else 0
    # Status type as number
    status = statuses.find_one({"Maersk": movement["status"]})
    movement["status_code"] = int(status["code"]) if status else 0
    # Append to list
    maersk.append(movement)

print(len(maersk))

9

In [45]:
maersk_df = pd.DataFrame(maersk)
maersk_df

,container,date,estimated,latitude,location,longitude,status,status_code,transport_type,vehicle
0,MRKU5264777,2019-02-12 18:32:00,False,3.002762,Cogent Container Depot (M) Sdn Bhd\nPort Klang...,101.396674,Empty,1,Truck,0
1,MRKU5264777,2019-02-13 21:35:00,False,3.002762,"Westport\nPort Klang, Selangor, Malaysia",101.396674,Gate in,2,Truck,0
2,MRKU5264777,2019-02-15 01:13:00,False,3.002762,"Westport\nPort Klang, Selangor, Malaysia",101.396674,Load,3,Vessel,1
3,MRKU5264777,2019-02-21 02:57:00,False,22.350627,Hongkong/Hk International Terminals\nHong Kong...,114.184916,Discharge,7,Vessel,1
4,MRKU5264777,2019-02-24 15:17:00,False,22.350627,Hongkong/Hk International Terminals\nHong Kong...,114.184916,Gate out,0,Truck,0
5,MRKU5264777,2019-02-24 15:29:00,False,22.350627,"Hong Kong Modern Terminals Ltd\nHong Kong, Hon...",114.184916,Gate in,2,Truck,0
6,MRKU5264777,2019-03-05 15:51:00,False,22.350627,"Hong Kong Modern Terminals Ltd\nHong Kong, Hon...",114.184916,Load,3,Vessel,1
7,MRKU5264777,2019-04-05 23:29:00,False,-12.066667,"APM Terminals in Callao Port\nCallao, Peru",-77.150000,Discharge,7,Vessel,1
8,MRKU5264777,2019-04-06 14:11:00,False,-12.066667,"APM Terminals in Callao Port\nCallao, Peru",-77.150000,Gate out,0,Truck,0